@model ApplicationForCash.Models.ViewModels.UserInfoViewModel

<input class="UI-location" type="button" value="админ"
       onclick="location.href='@Url.Action("RequestList", "Admin")'" />

<h1 class="page-theme">Информация о пользователе</h1>

<div class="user-data">
    <p><span>Фамилия: </span>@Model.User.LastName</p>
    <p><span>Имя: </span>@Model.User.FirstName</p>
</div>

<h2>История заявок</h2>

<table class="Grid">
    <tr>
        <th>Номер запроса:</th>
        <th>Сумма | Валюта:</th>
        <th>Отделение:</th>
        <th>Статус:</th>
        <th>Действие:</th>
    </tr>
    @foreach (var item in Model.CashRequests)
    {
        <tr>
            <td>@item.RequestID</td>
            <td>
                @item.Amount | @item.Currency
            </td>
            <td>@item.DepartmentAddress</td>

            @if (item.RequestStatus == false)
            {
                <td style="color:red;">@item.StatusComment</td>
            }
            else
            {
                <td style="color:green;">@item.StatusComment</td>
            }
            <td>
                <input type="button" value="Одобрить"
                       onclick="location.href='@Url.Action("EditRequest","Admin",
                                              new { requestId = item.RequestID, confirmStatus = true, userId = item.UserID })'" />
                <input type="button" value="Отклонить"
                       onclick="location.href='@Url.Action("EditRequest","Admin",
                                              new { requestId = item.RequestID, confirmStatus = false, userId = item.UserID })'" />
            </td>
        </tr>
    }
</table>